Babel==2.15.0
chardet==5.2.0
decorator==5.1.1
greenlet==3.0.3
idna==3.7
Levenshtein==0.25.1
lxml==5.2.2
MarkupSafe==2.1.5
numpy==2.0.0
pandas==2.2.2
passlib==1.7.4
pillow==10.3.0
polib==1.2.0
psycopg2==2.9.9
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.1
rapidfuzz==3.9.1
reportlab==4.2.0
setuptools==70.0.0
six==1.16.0
tzdata==2024.1
Werkzeug==3.0.3
wheel==0.43.0
